.header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 3px 0;
    transition: all 1s ease;
    background: #fff;
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-nav-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo-header img {
    height: 45px;
    object-fit: contain;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #000;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 1.5px;
    width: 100%;
    background-color: #000;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.nav-links a:hover::after {
    transform: scaleX(1);
}

.emergency-contact {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

.emergency-text {
    margin-bottom: 2px;
    color: #000;
    font-size: 14px;
}

.emergency-number {
    font-style: italic;
    color: #000;
    text-decoration: none;
    transition: all 0.3s ease;
}

.emergency-number:hover {
    color: var(--color-dorado);
}

.main-section {
    position: relative;
    height: 60vh;
    background-image: url('../assets/imgs/inicio/header2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.main-section::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.main-section>* {
    position: relative;
    z-index: 2;
}

.main-content {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.hero-content {
    max-width: 500px;
    color: #fff;
    text-align: center;
}

.hero-logo {
    max-width: 180px;
    height: auto;
    margin-bottom: 10px;
}

.hero-paragraph {
    font-size: 1.5rem;
    margin: 10px 0;
}

@media (max-width: 992px) {
    .main-section {
        height: 40vh;
        background-position: 50% 40%;
        background-attachment: scroll;
    }

    .main-title {
        font-size: 2.2rem;
    }
}

@media (max-width: 768px) {
    .main-section {
        height: auto;
        padding: 80px 0 60px;
        background-image: url('../assets/imgs/inicio/header2.jpg');
        background-position: 50% 50%;
    }

    .hero-content {
        max-width: 80%;
        text-align: center;
    }
}

@media (max-width: 480px) {
    .main-section {
        padding: 60px 0 40px;
        background-size: cover;
    }

    .main-title {
        font-size: 1.5rem;
    }

    .hero-paragraph {
        font-size: .95rem;
    }
}

.cemetery-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 20px;
}

.space-item {
    display: flex;
    align-items: center;
    min-height: 500px;
    margin-bottom: 80px;
}

.space-content {
    flex: 1;
    padding: 40px;
}

.space-title {
    margin-bottom: 20px;
}

.image-gallery {
    flex: 1;
    display: flex;
    align-items: stretch;
    padding: 20px;
    gap: 20px;
    height: 100%;
}

.main-image-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f9fa;
    min-height: 450px;
}

.main-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    transition: all 0.3s ease;
}

.thumbnails {
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content: center;
}

.thumbnail {
    width: 90px;
    height: 70px;
    cursor: pointer;
    transition: all 0.3s ease;
    border: 3px solid transparent;
    object-fit: cover;
}

.thumbnail:hover {
    transform: scale(1.05);
    border-color: #74aed4;
}

.thumbnail.active {
    border-color: var(--color-dorado);
    transform: scale(1.1);
}

@media (max-width: 768px) {
    .space-item {
        flex-direction: column;
        min-height: auto;
    }

    .space-content {
        padding: 30px 20px;
    }

    .space-title {
        font-size: 2rem;
    }

    .image-gallery {
        flex-direction: column;
        padding: 20px;
    }

    .thumbnails {
        flex-direction: column;
        justify-content: center;
        margin-top: 15px;
    }

    .main-image-container {
        width: 100%;
        max-width: 350px;
        height: 250px;
    }
}

.contacto-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 10px;
}

.contacto-container {
    display: grid;
    grid-template-columns: 300px 1fr;
    gap: 40px;
    align-items: start;
}

.telefonos-columna h3 {
    margin-top: 50px;
}

.telefono-item {
    margin-bottom: 40px;
    font-size: 1.2rem;
    color: #1e1e1e;
}

.numero,
.direccion a {
    margin: 10px 0;
    text-decoration: none;
}

.numero:hover,
.correo:hover {
    text-decoration: underline;
}

.direccion-columna h3 {
    margin-bottom: 10px;
}

.direccion-item p {
    margin-bottom: 5px;
}

.map-btn {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 30px;
    background: transparent;
    text-decoration: none;
    border: 1px solid #000;
    transition: background .3s ease;
}

.map-btn:hover {
    background: #dadada;
}

.mapa-container {
    width: 100%;
    height: 600px;
}

.mapa-placeholder {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .contacto-titulo {
        font-size: 2.5rem;
    }

    .contacto-container {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .contacto-section {
        padding: 30px 15px;
    }

    .mapa-container {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .contacto-titulo {
        font-size: 2rem;
    }

    .contacto-descripcion {
        font-size: 1rem;
    }
}