body {
    background: #f4f4f4;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 5px 50px;
    background: #f4f4f4;
}

.header-content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-header img {
    width: auto;
    height: 50px;
    object-fit: contain;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.nav-links a {
    text-decoration: none;
    color: #000;
}

.contacto-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 20px;
}

.contacto-titulo {
    font-size: 4rem;
    margin-bottom: 30px;
}

.contacto-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    margin-bottom: 50px;
}

.telefonos-columna h3 {
    margin-bottom: 30px;
}

.telefono-item {
    margin-bottom: 30px;
    font-size: 1.2rem;
    color: #1e1e1e;
}

.numero,
.correo,
.direccion a {
    margin: 10px 0;
    text-decoration: none;
}

.numero:hover,
.correo:hover {
    text-decoration: underline;
}

.telefono-disclaimer {
    color: var(--color-azul-mascotas);
}

.telefono-disclaimer-prevision {
    color: var(--color-dorado);
}

.direccion-columna h3 {
    margin-bottom: 20px;
}

.correo-item,
.direccion-item {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

.map-btn {
    display: inline-block;
    margin-top: 25px;
    padding: 10px 30px;
    background: transparent;
    text-decoration: none;
    border: 1px solid #000;
    transition: background .3s ease;
}

.map-btn:hover {
    background: #dadada;
}

.mapa-container {
    width: 100%;
    height: 600px;
}

.mapa-placeholder {
    width: 100%;
    height: 100%;
}

@media (max-width: 768px) {
    .contacto-titulo {
        font-size: 2.5rem;
    }

    .contacto-info {
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .contacto-section {
        padding: 30px 15px;
    }

    .mapa-container {
        height: 300px;
    }
}

@media (max-width: 480px) {
    .contacto-titulo {
        font-size: 2rem;
    }

    .contacto-descripcion {
        font-size: 1rem;
    }
}