.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 3px 0;
    transition: all 1s ease;
    background: transparent;
}

.header.scrolled {
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(5px);
}

.header-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-nav-container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.logo-header img {
    height: 45px;
    object-fit: contain;
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: #fff;
    position: relative;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-links a::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 1.5px;
    width: 100%;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

.nav-links a:hover::after {
    transform: scaleX(1);
}

.hero {
    position: relative;
    height: 100vh;
    background: url('../assets/imgs/inicio/hero.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    z-index: 1;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 0;
}

.hero>* {
    position: relative;
    z-index: 2;
}

.hero-text {
    text-align: center;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 3rem;
    max-width: 800px;
}

.hero-text p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.hero-buttons {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
    justify-content: center;
}

.btn {
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 1.2rem;
    color: #fff;
}

.btn-secondary {
    background: transparent;
    border: 2px solid #fff;
    position: relative;
    overflow: hidden;
}

.btn-secondary:hover {
    background: var(--color-cafe-oscuro);
    border-color: var(--color-cafe-oscuro);
}

@media (max-width: 768px) {
    .hero {
        background-attachment: scroll;
        justify-content: center;
        text-align: center;
    }

    .hero-text {
        padding: 30px 20px;
        max-width: 100%;
        text-align: center;
    }

    .hero-text h1 {
        font-size: 2.5rem;
    }

    .hero-buttons {
        justify-content: center;
    }
}

.servicios-principales {
    background: #f3f3f3;
}

.servicios-contenido {
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 20px;
}

.servicios-main-titulo {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 60px;
}

.servicios-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;
    flex-wrap: wrap;
    gap: 20px;
}

.servicios-titulo {
    text-align: left;
}

.cta-contactanos {
    background: var(--color-cafe-oscuro);
    color: white;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.cta-contactanos:hover {
    background: #fff;
    color: var(--color-cafe-oscuro);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.servicios-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    align-items: start;
}

.servicio-item {
    position: relative;
}

.servicio-imagen {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
    filter: brightness(0.5);
    transition: filter 0.3s ease;
}

.servicio-item:hover .servicio-imagen {
    filter: brightness(0.9);
}

.servicio-titulo-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px 30px;
    text-align: center;
    z-index: 2;
    margin: 0;
}

@media (max-width: 768px) {
    .servicios-header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .servicios-titulo {
        width: 100%;
    }

    .cta-contactanos {
        width: fit-content;
    }

    .servicios-grid {
        grid-template-columns: 1fr;
    }
}

.cremacion-mascotas {
    position: relative;
    height: 100vh;
    overflow: hidden;
    background-image: url('../assets/imgs/inicio/cremapets.webp');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.cremacion-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.cremacion-info {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.85);
    padding: 0 50px;
    max-width: 650px;
    min-height: 600px;
    width: 90%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cremacion-titulo {
    margin: 10px 0;
    font-size: 2.5rem;
    color: var(--color-azul-mascotas);
}

.cremacion-descripcion {
    margin-bottom: 30px;
}

.cta-cremacion {
    background: var(--color-azul-mascotas);
    color: white;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
    width: fit-content;
}

.cta-cremacion:hover {
    background: #fff;
    color: var(--color-azul-mascotas);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .cremacion-mascotas {
        background-attachment: initial;
        background-position: center;
        background-size: cover;
        height: 80vh;
        padding: 60px 20px;
    }

    .cremacion-container {
        height: auto;
        display: flex;
        justify-content: center;
    }

    .cremacion-info {
        position: static;
        transform: none;
        width: 100%;
        min-height: 600px;
        padding: 30px 20px;
        text-align: center;
        align-items: center;
    }

    .cremacion-titulo {
        font-size: 2rem;
    }

    .cta-cremacion {
        margin: 0 auto;
    }
}

.cementerio-section {
    padding: 60px 10px;
    max-width: 1200px;
    margin: 0 auto;
}

.cementerio-container {
    max-width: none;
    margin: 0;
    display: flex;
    align-items: center;
    min-height: 500px;
    width: 100%;
}

.cementerio-info {
    flex: 1;
    padding: 60px 50px;
    width: 50%;
}

.cementerio-subtitulo {
    margin-bottom: 15px;
}

.cementerio-titulo {
    font-size: 3rem;
    margin-bottom: 25px;
}

.cementerio-descripcion {
    margin-bottom: 35px;
}

.cta-cementerio {
    background: var(--color-cafe-oscuro);
    color: white;
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    text-decoration: none;
    display: inline-block;
}

.cta-cementerio:hover {
    background: #fff;
    color: var(--color-cafe-oscuro);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.espacios-container {
    flex: 0 0 50%;
    width: 50%;
    padding: 0;
    height: 500px;
}

.espacios-grid {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 0;
}

.espacio-item {
    flex: 1;
    position: relative;
    overflow: hidden;
}

.espacio-titulo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    color: #fff;
    margin: 0;
}

.espacio-imagen {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.5);
    transition: filter 0.3s ease;
}

.espacio-imagen:hover {
    filter: brightness(0.9);
}

.salas-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
}

.section-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 60px;
}

.salas-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    min-height: 500px;
}

.sala-card {
    position: relative;
}

.image-container {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.sala-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sala-name {
    text-align: center;
    margin-top: 20px;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .salas-grid {
        grid-template-columns: 1fr;
        gap: 0;
        min-height: 400px;
    }

    .section-title {
        font-size: 2rem;
    }

    .sala-name {
        font-size: 1.5rem;
    }

    .sala-card:hover .sala-name {
        font-size: 1.7rem;
    }
}

@media (max-width: 1024px) and (min-width: 769px) {
    .salas-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


.faq-section {
    padding: 100px 10px;
    max-width: 800px;
    margin: 0 auto;
}

.faq-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 60px;
}

.faq-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.faq-item {
    background: #f3f3f3;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.faq-question {
    background: none;
    border: none;
    width: 100%;
    padding: 25px 30px;
    text-align: left;
    color: var(--color-cafe-oscuro);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.faq-question:hover {
    background-color: #dadada;
}

.faq-icon {
    font-size: 1.8rem;
    color: var(--color-cafe-oscuro);
    transition: transform 0.3s ease;
}

.faq-item.active .faq-icon {
    transform: rotate(45deg);
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    padding: 0 30px;
    background: #fff;
    transition: max-height 0.4s ease, padding 0.4s ease;
}

.faq-item.active .faq-answer {
    max-height: 300px;
    padding: 0 30px 25px 30px;
}

.faq-answer p {

    margin-top: 15px;
}

.faq-answer p:last-child {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .faq-title {
        font-size: 2rem;
    }

    .faq-question {
        padding: 20px 25px;
        font-size: 1rem;
    }

    .faq-answer {
        padding: 0 25px;
    }

    .faq-item.active .faq-answer {
        padding: 0 25px 20px 25px;
    }
}